<?xml version="1.0"?>
<robot name="rb1_arm" xmlns:xacro="http://www.ros.org/wiki/xacro"> 

	<!-- ***************** -->
	<!-- Imported elements -->
	<!-- ***************** -->
	
	<!-- First we import all posible elements defined in the urdf.xacro files. All these elements are defined as macro:xacros -->

	<!-- Import RB1 arm elements -->
	<xacro:include filename="$(find rb1_arm_description)/urdf/arms/rb1_arm_7dof.urdf.xacro" />

	<!-- Import all available sensors -->
	<!-- xacro:include filename="$(find rb1_arm_description)/urdf/sensors/all_sensors.urdf.xacro" / -->
	
	<!-- ***************** -->
	<!-- Global parameters -->
	<!-- ***************** -->  
	<xacro:property name="PI" value="3.1415926535897931"/>
  	
	<!-- Flag to select the high or low quality model -->
	<xacro:property name="hq" value="true" />

	<!-- RB-1 arm -->
	<xacro:rb1_arm_7dof name="rb1_arm_7dof" hq="${hq}" />

	<!-- Gazebo ros control plugins -->
	<xacro:ros_control/>

</robot>
