<?xml version="1.0"?>
<launch>

  <!-- Load joint controller configurations from YAcd .ML file to parameter server -->
  <rosparam file="$(find rb1_control)/config/rb1_control.yaml" command="load"/>

  <!-- load the controllers -->
  <node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false"
    output="screen" ns="/rb1" args="--shutdown-timeout 1 --namespace=/rb1
                      joint_read_state_controller 
                      joint_left_velocity_controller
                      joint_right_velocity_controller                      
                      j1_torso_controller
                      j1_head_controller
                      j2_head_controller                                                               
                      j1_position_controller
                      j2_position_controller
                      j3_position_controller
                      j4_position_controller
                      j5_position_controller
                      jhand_position_controller
                      jf1_position_controller
                      jf2_position_controller
                      jf3_position_controller
                      "/>                      
                        
  <!-- once the joint_state is published, run the robot_state_publisher, the namespace has to be adapted --> 
  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher_base" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/rb1/joint_states" />
  </node>

</launch>

